body 
  margin 0
  padding 0
  overflow hidden
  width 100%
  background-color aliceblue
  font-family monospace


#app
  height 100vh
  display flex
  flex-direction column

  #score-container   
    overflow scroll
    overflow-x hidden

    #score
      width 100%
      min-height 100vh
      height auto

      svg
        width 100%
        height auto

  #controls
    background-color #fffddd
    input[type='button']
      width 100px
      margin 5px
      font-family monospace
    select 
      font-family monospace

  #transport
    padding 5px 15px
    width 100vw
    box-sizing border-box
    display flex
    flex-direction row
    background-color #ffdddf
    
    input[type='range']
      display inline-block
      flex-grow 1

    input[type='button']
      width 100px
      font-family monospace
      margin-right 5px

#hitareas
  z-index 100
  position absolute
  width 100vw
  height 100vh
  top 0px
  left 0px
  
  .hitarea
    position absolute
    background-color rgba(255, 0, 0, 0.3)
    // padding 4px
    // margin -4px 0 0 -4px
    // border-radius 4px
